#_headerHolder {
    background-color: rgb(46, 46, 46);

}
#_headerHolder ul{
display: flex;
align-items: center;
}

#_headerHolder a {
    color: rgba(253, 238, 210, 0.51);
    font-size: 25px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.3s;
    text-transform: uppercase;
 
}
@media screen and (max-width: 600px)
{
    #_headerHolder a {
        font-size: 14px;
    }
    #_headerHolder ul li:last-child a {
   
        font-size: 14px;
       }
}
 
#_headerHolder ul li:last-child a {
 color: rgb(255, 225, 0);
 font-weight: 900;
 font-size: 18px;
}

#_headerHolder a:hover {
    background-color: rgba(200, 207, 10, 0.477);


}