 #_profileHolder {
     padding: 10px;
     background-color: rgb(27, 27, 27);

     border-bottom: 1px rgba(190, 241, 6, 0.395) solid;


 }

 #_profileHolder #_coinInfo span {
     font-size: 25px;
     font-weight: 600;
     color: rgb(216, 190, 20);
 }

 #_profileHolder #_coinInfo a {
     font-size: 13px;
     cursor: pointer;
     font-weight: 600;
     color: rgb(209, 68, 46);
 }

 #_profileHolder #_profileInfo {
     color: rgb(123, 172, 130);
     align-items: end;
     font-weight: 400;
     font-size: 12px;
 }

 #_profileHolder h2 {
     color: black;
     margin: 0px;
 }


 #_profileHolder .modal-content {
     background-color: rgb(40, 105, 53);
 }


 #_profileHolder .modal-header {
     border: none;
     padding: 0px;
     padding-top: 10px;
 }

 #_profileHolder .modal-footer {
     border: none;
     display: flex;
     justify-content: center;
 }

 #_profileHolder #prestige p {
     font-size: 15px;
     color: rgb(27, 5, 17);
     font-weight: 400;
     word-wrap: break-word;
     margin: 2px 0px;
     text-align: center;
 }
 #_profileHolder #prestige h1 {
    font-size: 15px;
    color: black;
 
}

 #_profileHolder #_prestigeWarning {
     background-color: rgb(162, 43, 43);
     margin: 0px;
     color: rgb(0, 0, 0)!important;
     display: flex;
     flex-direction: column;
     padding: 5px 10px;
     border: dashed 2px rgb(0, 0, 0);
     border-radius: 7px;
 }
 #_profileHolder #_prestigeNote {
    background-color: rgb(173, 167, 55);
    color: rgb(0, 0, 0)!important;
    padding: 5px 10px;

    margin-top: 5px;
    border: dashed 3px rgb(0, 0, 0);
    border-radius: 7px;
}
 #_profileHolder #prestige h6 {
     font-size: 17px;
     color: rgb(19, 29, 18);
     font-weight: 600;
     text-align: center;
     word-wrap: break-word;
 }

 #_profileHolder #prestige button {
     background-color: rgb(209, 68, 46);
     border: 1px rgb(122, 38, 20) solid;
     border-radius: 5px;
     font-weight: 700;
     padding: 10px;
 }